.layout-root {
  display: flex;
  min-height: 100vh;
}

.layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px; /* Width of the sidebar */
  background-color: var(--color-bg-primary);
  transition: margin-left 0.3s ease;
}

.page-content {
  flex: 1;
  width: 100%;
  padding-bottom: 2rem;
}
